@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body,
html {
    scroll-behavior: smooth;
}

.gallery-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.gallery-container img {
    transition: transform 0.3s ease;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container:hover img {
    transform: scale(1.2);
}

.sec-bg {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 55%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.head-text-trans {
    transition: all 1s ease-in-out;
}

#navbar-sticky {
    display: block;
}
.bounce {
    width: 100px; 
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(400px);
    }
  }
  
@media (max-width:765px) {

    #navbar-sticky {
        display: none;
    }
}