@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    /* Enables smooth scrolling */
}

/* 
body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}
#bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}


.home-start {
    margin-top: 18vh;
    margin-left: 18vw;
}

.bg-cover-up {
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
} */
.shadow-overlay-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    /* Adjust the height to control the size of the shadow */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 0.5rem;
    /* Same as the rounded-t-lg */
    border-bottom-right-radius: 0.5rem;
    /* Same as the rounded-t-lg */
    pointer-events: none;
    /* Ensure the shadow does not interfere with clicking on the image */
}

/* 
.section-2{
        margin-top: 100vh;
}
@media (max-width:426px) {

    .bg-cover-img-up {
        width: 100%;
    }

    .home-start {
        margin-top: 0;
        height: 100vh;
        margin-left: 0;
        width: auto;
        position: relative;
        justify-content: center;
    }
    .bg-cover-up {
        width: 100%;
        height: auto;
    }
    .section-2{
        margin-top: 0;
    }
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
.animate-up-down {
    animation: upDown 2s infinite;
} */

/* 
#about {
    position: relative;
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#about-content {
    position: relative;
    color: white;
    z-index: 1;
} */


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-out;
}

.gallery-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.gallery-container img {
    transition: transform 0.3s ease;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-container:hover img {
    transform: scale(1.2);
    /* Adjust the scale value as needed */
}

.sec-bg {
    position: relative;
    height: 75vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 55%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.head-text-trans {
    transition: all 1s ease-in-out;
}

#navbar-sticky {
    display: block;
}

@media (max-width:765px) {

    #navbar-sticky {
        display: none;
    }
}